{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
  {% for job in object_list %}
  <div class="tile is-parent">
    <article class="tile is-child box">
      <div class="content">
        <p>{{ job.description }}</p>
      </div>
      <p>&#8377;{{ job.salary_start }}{% if job.salary_end %} - &#8377;{{ job.salary_end }}{% endif %} | <i class="fas fa-map-marker-alt"></i> {{ job.location }} | <a href="{{ job.message_url }}"><i class="fas fa-comments"></i></a>{% if job.added_by == user %} | <a href="{% url 'jobs:edit' job.id %}"><i class="fas fa-edit"></i></a>{% endif %}
      </p>
    </article>
  </div>
  {% if forloop.counter|divisibleby:3 %}
  </div>
  <div class="tile is-ancestor">
  {% endif %}
  {% endfor %}
</div>
{% endblock %}