  {% if form.errors %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="help is-danger">{{ error }}</p>
    {% endfor %}
    {% endif %}
  {% endif %}
  {% csrf_token %}
  <div class="field">
    <label class="label" for="id_company_name">Company Name</label>
    <div class="control">
      <input class="input" id="id_company_name" name="company_name" type="text" maxlength="20" placeholder="(Optional) Name of the company" value="{{ form.company_name.value|default_if_none:'' }}">
    </div>
  </div>
  <div class="field">
    <label class="label" for="id_description">Description</label>
    <div class="control">
      <textarea class="textarea" id="id_description" name="description" maxlength="160" placeholder="Enter job description (supports markdown)" required>{{ form.description.value|default_if_none:'' }}</textarea>
    </div>
  </div>
  <div class="field">
    <label class="label" for="id_location">Location</label>
    <div class="control">
      <input class="input" id="id_location" name="location" type="text" maxlength="20" value="{{ form.location.value|default_if_none:'' }}" placeholder="Where it is located? or enter remote" required>
    </div>
  </div>
  <div class="field">
    <label class="label" for="id_salary_start">Salary Range</label>
    <div class="control">
      <input class="input" id="id_salary_start" name="salary_start" type="number" value="{{ form.salary_start.value }}" placeholder="Enter (yearly) salary or start range" required>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input" id="id_salary_end" name="salary_end" type="number" value="{{ form.salary_end.value }}" placeholder="(Optional) Enter salary end range">
    </div>
  </div>
  <div class="field">
    <label class="label" for="id_email">Email</label>
    <div class="control">
      <input class="input" id="id_email" name="email" type="email" maxlength="300" placeholder="(Optional) Your contact email" value="{{ form.email.value|default_if_none:'' }}">
    </div>
  </div>